-r ../requirements.txt
# The following is only required if developing for Photologue.
factory-boy
# The following is only required if you plan on using Amazon AWS S3
# -r example_storages/s3_requirements.txt

