-r ../requirements.txt
Sphinx
# Factory-boy is optional with basic install (users might not want to run unit
# tests), but better install it here in case users want to work on Photologue itself.
factory-boy>=2.2.1
