include requirements.txt
include LICENSE.txt
include CONTRIBUTORS.txt
recursive-include photologue/locale *
recursive-include photologue/res *.jpg
recursive-include photologue/res/zips *.zip
recursive-include photologue/templates *.html
recursive-include photologue/contrib *
recursive-exclude * *.py[co]
recursive-exclude * __pycache__