include CHANGELOG.txt
include CONTRIBUTORS.txt
include LICENSE.txt
include requirements.txt
recursive-include photologue/locale *
recursive-include photologue/res *.jpg
recursive-include photologue/res/zips *.zip
recursive-include photologue/templates *.html
recursive-include photologue/contrib *
recursive-exclude * *.py[co]
recursive-exclude * __pycache__
exclude photologue/res/test_unicode*.jpg
exclude example_project
recursive-exclude example_project *
exclude tox.ini
