Django>=1.6 # Django-sortedm2m does not work with Django 1.4, and Django 1.5 is not supported.
Pillow>=2.0.0 # 2.0.0 needed for Mac users. Might work with earlier versions, but not tested.
django-sortedm2m>=0.8.1
django-model-utils>=2.2
