{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% blocktrans with show_year=year|date:"Y" %}Galleries for {{ show_year }}{% endblocktrans %}{% endblock %}

{% block content %}

	<div class="row page-header col-lg-12">
        <h1>{% blocktrans with show_year=year|date:"Y" %}Galleries for {{ show_year }}{% endblocktrans %}</h1>
	</div>

	<div class="col-md-2">

		<div>{% trans "Filter by month" %}</div>
		<ul>
			{% for date in date_list %}
				<li><a href="{% url 'photologue:gallery-archive-month' date.year date|date:"m"|lower %}">{{ date|date:"F" }}</a></li>
			{% endfor %}
		</ul>

	</div>

	<div class="col-md-10">

		{% if object_list %}
			{% for gallery in object_list %}
		        {% include "photologue/includes/gallery_sample.html" %}
		    {% endfor %}
		{% else %}
		    <div class="row">{% trans "No galleries were found." %}</div>
		{% endif %}

	    <div class="row col-lg-12">
            <a href="{% url 'photologue:pl-gallery-archive' %}" class="btn btn-default">{% trans "View all galleries" %}</a>
	    </div>

	</div>

{% endblock %}
