{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% trans "All galleries" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1>{% trans "All galleries" %}</h1>
    </div>
</div>

{% if object_list %}
{% for gallery in object_list %}
<div class="row">
    <div class="col-lg-12">
        {% include "photologue/includes/gallery_sample.html" %}
    </div>
</div>
{% endfor %}
{% else %}
<div class="row">
    <div class="col-lg-12">{% trans "No galleries were found" %}.</div>
</div>
{% endif %}

{% include "photologue/includes/paginator.html" %}

{% endblock %}
