/* Some customisation for the Photologue demo site. */

div.row img.thumbnail {
	margin-bottom: 5px;
	display: inline-block;
}

div.page-header {
	padding-top: 10px;
	padding-bottom: 5px;
    margin-top: 0;
}

td {
	width: 100px;
}

a.btn.btn-default {
	margin-top: 20px;
	margin-bottom: 20px;
}

