/* Some customisation for the Photologue demo site. */

div.row img.thumbnail {
	margin-bottom: 5px;
	display: inline-block;
}

.page-header {
	margin-top: 20px;
	margin-bottom: 10px;
}

td {
	width: 100px;
}

a.btn.btn-default {
	margin-top: 20px;
	margin-bottom: 20px;
}

