{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Photologue Demo - {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

  </head>

  <body class="{% block page_class %}{% endblock %}">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Photologue Demo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item nav_home">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gallery views
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'photologue:pl-gallery-archive' %}">Date views</a>
                        <a class="dropdown-item" href="{% url 'photologue:gallery-list' %}">List views</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Photo views
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'photologue:pl-photo-archive' %}">Date views</a>
                        <a class="dropdown-item" href="{% url 'photologue:photo-list' %}">List views</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container">

       <div id="page_content">
          {% block content %}{% endblock content %}
        </div>

    </div> <!-- /container -->

    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>


