{% extends 'base.html' %}

{% block title %}Photologue example project{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
			  <h1>Welcome to the Photologue example project</h1>
			</div>
			<p>This is a quick demo of the Photologue application - just click on
			the menu options above.</p>
			<p>It uses the built-in <a href="http://getbootstrap.com/">Bootstrap</a>-compatible
			templates that you can use to get you quickly up and running, or completely
			replace with your own templates.</p>
		</div>
	</div>
{% endblock %}
