{% extends 'base.html' %}

{% block navbar-active-home %}active{% endblock %}

{% block content %}

<h1>Photologue demo site</h1>

<p>This is a quick demo of the Photologue application - just click on
'Photo gallery' in the menu above.</p>

<p>It uses the built-in templates - the only customisation is to extend the templates
(as described in 'Customising' in the docs) in order to add the CSS classes required
by <a href="http://twitter.github.io/bootstrap/index.html">Twitter-Bootstrap</a>.</p>

{% endblock %}
